/************************************************/
/***********     CSS CONTENT      **********/
/***********************************************/
/*

- Initialize
- Global
- Header
- Home content
- Aside
- Footer

*/
/************************************************/
/*************     INITIALIZE      **************/
/***********************************************/

/************************************************/
/*************     GLOBAL      ****************/
/***********************************************/
body {
	text-align: center;
	font-family: Libre Baskerville, serif;
	margin: 0;
	padding: 0;
}


.box-me{
	background-color: #fee1e1;
	box-shadow: border-right;
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px;
	padding: 10px;
}

#home {	
	background-color: #292521;
}


#section {
	float: left;
	width: 70%;
}

p {
	font-family: Patua One, cursive;
}

h3 {
	font-family: Lobster, cursive;
}
/************************************************/
/*************     HEADER      ****************/
/***********************************************/

#header {
	text-align: center;
}

#header h1{
	color: #190482;	
	font-size: 40px;
	font-family: Lobster, cursive;
}

#header h1 span{
	color: #190482;	
	font-size: 65px;
}

#header h2{
	color: #FF4A44;
	height: 125px;
	font-family: Lobster, cursive;
	font-size: 30px;
}

#header h2 span{
	color: #FF4A44;
	height: 125px;
	font-family: Lobster, cursive;
	font-size: 35px;
}

#mainnav li{
	display: inline-block;
	height: 200px;
	font-size: 50px;
}

#mainnav a{
	margin: 72px;
}

.navbar-default {
	background-color: transparent; 
	border-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-nav>li>a {
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 4px;
	margin: 1px;
}

#lienart1 {
	background-color: #49eb04;
	font-family: Lobster, cursive;
}

#lienart2 {
	background-color: #ff3f02;
	font-family: Lobster, cursive;

}

#lienart3 {
	background-color: #1b17e6;
	font-family: Lobster, cursive;
}

#lienart4 {
	background-color: #cb0da1;
	font-family: Lobster, cursive;
}

#lienart5 {
	background-color: #f1f70d;
	font-family: Lobster, cursive;
}

#lienart6 {
	background-color: #fc010f;
	font-family: Lobster, cursive;
}

#lienagenda {
	background-color: #f70f9a;
	font-family: Lobster, cursive;
}
/************************************************/
/**********     HOME CONTENT      *********/
/***********************************************/

/************************************************/
/*************        ASIDE       ****************/
/***********************************************/

/************************************************/
/*************     FOOTER      ****************/
/***********************************************/



#footer {
	background-color: #FF4A44;
	font-weight: 100px;
	font-size: 15;
	padding-top: 0;
  	padding-bottom: 0;
  	text-align: left;

}
 
 #footer a{
 	color: #190482;
 	font-size: 25px;
 }


 #footer a:hover {	
 	color: white;
 }

 #footer h3 i{
 	color: #190482;
 	font-size: 25px;
 }

 #footer ul{
 	list-style-position: inside;
 	text-align: left;
 }








