body {
	text-align: center;
	font-family: Libre Baskerville, serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}


#home {	
	background: url(images/fondecrangraffherbe.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding: 0;
}
#header{
	text-align: center;
}

#header h1{
	color: #190482;	
	font-size: 50px;
}

#header h1 span{
	color: #190482;	
	font-size: 65px;
}

#header h2{
	color: #FF4A44;
	height: 125px;
	font-family: Parisienne, cursive;
	font-size: 30px;
}

#header h2 span{
	color: #FF4A44;
	height: 125px;
	font-family: Libre Baskerville, serif;
	font-size: 35px;
}

#mainnav li{
	display: inline-block;
	height: 200px;
	font-size: 15px;
}

#mainnav a{
	margin: 72px;
}

#lienart1 {
	background-color: green;
}

#lienart2{
	background-color: orange;
}

#lienart3{
	background-color: blue;
}

#lienart4{
	background-color:purple;
}

#lienagenda{
	background-color: pink;
}

#section{
	float: left;
	width: 70%;
}

#aside{
	float: right;
	width: 30%;
}
